{% extends "blogs/base.html" %}

{% block content_blog %}
    {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    {% endif %}
    <div class="col-md-8">
        {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h1>
                <div class='info'>
                    {% if post.published_date %}
                        {{ post.published_date|date:'j F, Y - H:i' }}
                    {% endif %} 
                    <a href="{% url 'post_detail' post.id %}">Comments: {{ post.comments.count }}</a>
                    Author: {{ post.author }}
                </div>
                
                <p>{{ post.text }}</p>
            </div>
            <hr/>
        {% empty %}
            <p>No posts</p>
        {% endfor %}
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><< previous</a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">next >></a>
                    </li>
                {% endif %}
           </ul>
        </nav>  

</div>
{% endblock %}