$font_theme: 14px Arial;
$font_h: 'Lobster';
$margin_theme: 20px;
// theme style
body {
	font: $font_theme;
}

h1 {
	a {
		color:#FCA205;
		font-family: $font_h;
		&:hover {
			text-decoration: inherit;
			color: #926008;
		}
	}
}


.navbar-brand {
	padding: 0;
	img {
		height: 50px;
	}
}

h1, h2, h3, h4 {
    font-family: $font_h, cursive;
}

.page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: $margin_theme $margin_theme*2;
        margin: 0 -15px $margin_theme;
        position: relative;
        h1, h1 a, h1 a:visited,h1 a:active {
	        color: #ffffff;
	        font-size: 36pt;
	        text-decoration: none;
            display:inline-block;
		}
    }

.info {
    color: #828282;
    margin-bottom: $margin_theme;
    &.page_blog {
        float: right;
        font-size: 36pt;
        color: white;
        display: inline;
        margin-top: 20px;
        a {
            color:white;
        }
    }
}

.post-form textarea, .post-form input {
        width: 100%;
}

.top-menu {
    padding:18px 0;
    margin-bottom: 0;
    a {
        margin-left:15px;
    }

}

.post {
    margin-bottom: 20px;
}

.header_post {
    h1 {
        display: inline-block;
    }
    .info_block {
        display: inline-block;
        float: right;
        margin-top: $margin_theme;
    }
}

.errorlist {
    padding-left:0;
    list-style-type:none;
    color: red;
    font-weight: bold;
}




#comments {
    padding-left: 0px;
    li {
        list-style-type: none;
        font-size: 14px;
        background: #0E0E0E;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
    }
}


